* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base: #fff;
    --color-base-2: #e3e3e3;
    --color-black:#000000;
}
body {
    font-size: 1.6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/*Utilities*/
.container {
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/*Headers*/
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.nav {
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-item {
    margin-right: 5rem;
}
.nav-item:last-child{
    margin-right: 0;
}
.nav-link {
 font-size: 1.2rem;
 text-transform: uppercase;
 color: var(--color-black);
 font-weight: bold;
 transition: opacity .3s;
}
.nav-link:hover {
    opacity: .6;
}
.logo {
    display: block;
    width: 8rem;
}
